@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--text-white-color);
  color: var(--primaty-text-color);
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.icon {
  fill: currentColor;
}

:root {
  --primaty-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --logo-black-color:#000000;
  --text-white-color:#ffffff;
  --bg-color:#2F303A;
  --address-white-opacity-color:rgba(255, 255, 255, 0.6);
  --team-color-bg:#F5F4FA;
  --button-active-blue:#188CE8;
  --header-border-line:#ECECEC;
  --border-portfolio-color:#EEEEEE;
  --icon-color:#AFB1B8;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.06em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  height: 50px;
}

.button--hero {
  margin: 0 auto;
  width: 216px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--hero:hover,
.button--hero:focus {
  background-color: var(--button-active-blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--filter {
  padding: 6px 22px;
  height: 38px;
  color: var(--title-text-color);
  background-color: var(--team-color-bg);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover,
.button--filter:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--modal {
  padding: 0 52px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--modal:hover,
.button--modal:focus {
  background-color: var(--button-active-blue);
}

.button—-submit {
  margin-left: 12px;
  padding: 0 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  margin-left: 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo--header {
  padding: 24px 0 25px 0;
  color: var(--logo-black-color);
}

.logo-accent {
  color: var(--accent-color);
}

.logo--footer {
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.hero__title {
  margin: 0px auto 30px auto;
  width: 696px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.work__title, .team__title, .clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.features__title {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.person__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.modal__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-line);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 0 0 93px;
  list-style: none;
  font-weight: 500;
  line-height: 1.19;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link--current::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style: none;
  font-weight: 500;
  line-height: 1.19;
}

.auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__link {
  color: var(--primaty-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon-mail {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.auth-nav__icon-tel {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.features {
  padding: 94px 0 94px 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  width: 270px;
}

.features__icon-group {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: var(--team-color-bg);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__description {
  margin-top: 0;
  color: var(--primaty-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */