
:root {
    --primaty-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-black-color:#000000;
    --text-white-color:#ffffff;
    --bg-color:#2F303A;
    --address-white-opacity-color:rgba(255, 255, 255, 0.6);
    --team-color-bg:#F5F4FA;
    --button-active-blue:#188CE8;
    --header-border-line:#ECECEC;
    --border-portfolio-color:#EEEEEE;
    --icon-color:#AFB1B8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--text-white-color);
    color: var(--primaty-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.button{
	border: none;
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--text-white-color);  
	font-size: 16px;
	line-height: 1.88;
	font-weight: 700;
	font-family:inherit;
	letter-spacing: 0.06em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 50px;
}

/* header */

.page-header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-border-line);
}

.main-nav{
    display: flex;
    align-items: center;
}

.logo {
    color: var(--logo-black-color);
    padding: 24px 0 25px 0;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   
}

.logo-accent {
    color: var(--accent-color);
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    padding: 0;
    margin: 0 0 0 93px;
    list-style: none;
    font-weight: 500;
    line-height: 1.19;
}

.nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.nav__link--current::after{
    content:" ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    padding: 0;
    list-style: none;
    font-weight: 500;
    line-height: 1.19;
}

.auth-nav__item{
    display: flex;
    align-items: center;
}

.auth-nav__item + .auth-nav__item {
    margin-left: 50px;
}

.auth-nav__link {
    color: var(--primaty-text-color);
    display:flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.auth-nav__icon-mail{
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
}

.auth-nav__icon-tel{
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
}

/* main */
/* hero */
 .page-hero{
    max-width: 1600px;
    height: 600px;
    text-align: center;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
 }

 .hero__title {
    margin: 0px auto 30px auto;
    width: 696px;

    color: var(--text-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }


.button—-hero {
	margin: 0 auto;
	width: 216px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
           	    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


.button—hero:hover,
.button—hero:focus {
    background-color: var(--button-active-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

 /* features */
 .features {
    padding: 94px 0 94px 0;
 }

 .features-list{ 
    display: flex;
    gap: 30px;
 }

 .features-list .item {
    width: 270px;
 }

 .features-icon-item{
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background-color: var(--team-color-bg);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.features-title {
    margin-bottom: 10px;
    margin-top: 0;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.fearures-description{
    margin-top: 0;

    color: var(--primaty-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* work */
.work {
    padding-bottom: 94px;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list{
    display: flex;
    gap: 30px;
}

.work-image-group{
    position: relative;
}

.work-image{
    display: block;
}

.work-description{
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--text-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* team */
.team {
    background-color: var(--team-color-bg);
    padding: 94px 0 94px 0;
}
.team-list{
    display: flex;
    gap: 30px;
}

.team-list .item {
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.social-icon-group{
    display: flex;
    justify-content: center;
}

.social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
   
}

.social-item:last-child{
    margin-right: 0;
}

.social-icon-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text-white-color);
    color: var(--icon-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
}

.social-icon{
    fill: currentColor;

}


.team-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    padding: 30px 0;
}


.person-title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.person-description {
    margin-bottom: 16px;
    color: var(--primaty-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;  
}

/* clients */

.clients{
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients-list{
    display: flex;
    gap: 30px;
}

.clients-item{
    width: 170px;
    height: 92px;
    

}

.clients-title{
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-white-color);
    color: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.clients-icon{
    fill: currentColor;
}

/* filters */
.page-filters {
    padding: 94px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons .item + .item{
    margin-left: 8px;
}

.button--filter {
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--team-color-bg);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover,
.button--filter:focus {
    color: var(--text-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: 370px;
}

.portfolio-item .items{
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .items:hover,
.portfolio-item .items:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item .items:hover .img-description,
.portfolio-item .items:focus .img-description{
    transform: translateY(0);
}

.border-items {
    display: block;
    border-left: 1px solid var(--border-portfolio-color);
    border-right: 1px solid var(--border-portfolio-color);
    border-bottom: 1px solid var(--border-portfolio-color);
    padding: 20px 0 20px 24px;
}
.portfolio-image {
    display: block;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
 
}

.img-description{
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-title {
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}

.portfolio-description {
    color: var(--primaty-text-color);
    margin: 0;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
}

/* footer */
.footer {
    background-color: var(--bg-color);
    padding: 60px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.addres-group{
    margin-right: 70px;
}

.footer-logo {
    margin-bottom: 20px;
    display: inline-block;

    color: var(--text-white-color);  
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

 .footer-address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }

 .address-location, .address-mail {
    margin-top: 0;
    margin-bottom: 9px;
 }

 .address-location .link {
    color: var(--text-white-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-location .link:hover,
 .address-location .link:focus {
    color: var(--accent-color);
 }

 .address-mail .link {
    color: var(--address-white-opacity-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-mail .link:hover,
 .address-mail .link:focus {
    color: var(--accent-color);
 }

.address-tel {
    margin-top: 0;
 }

 .address-tel .link {
    color: var(--address-white-opacity-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-tel .link:hover,
 .address-tel .link:focus {
    color: var(--accent-color);
 }



 .social-discription, .mailing-discription{
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white-color);
 }

 .footer-social-icon-group{
    display: flex;
    justify-content: center;
}

.footer-social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
   
}

.footer-social-item:last-child{
    margin-right: 0;
}

.footer-social-icon-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
    color: var(--team-color-bg);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
}

.footer-social-icon{
    fill: currentColor;
}

.footer-mailing-group{
    margin-right: 0;
    margin-left: auto;
}

.mailing-group{
    display: flex;
}

.email-wrapper{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

.button—-submit{
	margin-left: 12px;
	padding: 0 28px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.mailing-icon{
    margin-left: 10px;
}



/* modal */

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.modal-backdrop.is-hidden .modal{
    scale: 0.5;
}

.modal-backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}

.modal{
    width: 528px;
    height: 581px;
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    transition: scale 500ms;
    transform-origin: center;
}

.modal-form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.close-sign{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--logo-black-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-sign:hover{
    color:var(--accent-color)
}

.modal-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.form-item{
    width: 100%;
    margin-bottom: 10px;
    display: grid;
}

.form-area{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
}

.input-icon-group{
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-icon-group:hover,
.input-icon-group:focus{
    color: var(--accent-color);
}



.modal-label{
    display: inline-block;
    color: var(--primaty-text-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.input-icon-group{
    position: relative;
}

.modal-input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-username-icon,
.modal-input:focus + .modal-username-icon{
    fill: var(--accent-color);
}

.modal-input:hover + .modal-phone-icon,
.modal-input:focus + .modal-phone-icon{
    fill: var(--accent-color);
}

.modal-input:hover + .modal-mail-icon,
.modal-input:focus + .modal-mail-icon{
    fill: var(--accent-color);
}

.modal-textarea{
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border: 1px solid var(--accent-color);
}


.modal-textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.modal-icon{
    fill: currentColor;
}


.modal-username-icon, .modal-phone-icon, .modal-mail-icon{
    fill: var(--title-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
  }
  .checkbox:checked + .check-icon {
    border-color: var(--accent-color);
    background: var(--accent-color);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }


.form-policy{
    display: flex;
    align-items: center;
}


.form-rules{
    display: flex;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.checkbox-description{
    margin-right: 4px;
}

.checkbox-link{
    text-decoration: underline;
    margin-left: 4px;
    color: var(--accent-color);
}

.button-—modal{
	padding: 0 52px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-—modal:hover, 
.button-—modal:focus {
    background-color: var(--button-active-blue);
}
