

/* header */


/* main */
/* hero */



/* features */

/* work */
.work {
    padding-bottom: 94px;
}

.work__list{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.work__group{
    position: relative;
}
.work__image{
    display: block;
}
.work__description{
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--text-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* team */
.team {
    background-color: var(--team-color-bg);
    padding: 94px 0 94px 0;
}

.team__list{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.team__item {
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}
.person__list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.person__item{
    width: 44px;
    height: 44px;
    margin-right: 10px; 
}
.person__item:last-child{
    margin-right: 0;
}
.person__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text-white-color);
    color: var(--icon-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person__link:hover,
.person__link:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
}
.person__group {
    padding: 30px 0;
}

.person__description {
    margin-bottom: 16px;
    color: var(--primaty-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;  
}
/* clients */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.clients__item{
    width: 170px;
    height: 92px;
}
.clients__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-white-color);
    color: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.clients__icon{
    fill: currentColor;
}
/* filters */
.filters {
    padding: 94px 0;
}
.filters__buttons {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
}
.filters__item + .filters__item{
    margin-left: 8px;
}

/* portfolio */
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.portfolio__item {
    width: 370px;
}
.portfolio__link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__image-description,
.portfolio__link:focus .portfolio__image-description{
    transform: translateY(0);
}
.portfolio__border-items {
    display: block;
    border-left: 1px solid var(--border-portfolio-color);
    border-right: 1px solid var(--border-portfolio-color);
    border-bottom: 1px solid var(--border-portfolio-color);
    padding: 20px 0 20px 24px;
}
.portfolio__image {
    display: block;
}
.portfolio__wrapper{
    position: relative;
    overflow: hidden;
}
.portfolio__image-description{
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__description {
    color: var(--primaty-text-color);
    margin: 0;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
/* footer */
.footer {
    background-color: var(--bg-color);
    padding: 60px 0;
}
.footer__container{
    display: flex;
    align-items: baseline;
}

.address{
    margin-right: 70px;
}
.address__list {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
    list-style: none;
}
.address__item{
    margin-top: 0;
    margin-bottom: 9px;
}
.address__item:last-child{
    margin-bottom: 0;
}
.address__link{
    color: var(--text-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--transparet {
    color: var(--address-white-opacity-color);
}
.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}
.social__discription, .form__discription{
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white-color);
}
.social__group{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.social__item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.social__item:last-child{
    margin-right: 0;
}
.social__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
    color: var(--team-color-bg);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
}
.form{
    margin-right: 0;
    margin-left: auto;
}
.form__group{
    display: flex;
}
.form__wrapper{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

/* modal */
.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-backdrop.is-hidden .modal{
    scale: 0.5;
}
.modal-backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}
.modal{
    width: 528px;
    height: 581px;
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    transition: scale 500ms;
    transform-origin: center;
}
.modal__form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__close-sign{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--logo-black-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-sign:hover{
    color:var(--accent-color)
}

.modal__item{
    width: 100%;
    margin-bottom: 10px;
    display: grid;
}
.modal__item--area{
    margin-bottom: 20px;
}
.modal__label{
    display: inline-block;
    color: var(--primaty-text-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.modal__input-group{
    position: relative;
}
.modal__input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover,
.modal__input:focus {
    border: 1px solid var(--accent-color);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon{
    fill: var(--accent-color);
}
.modal__textarea{
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:hover,
.modal__textarea:focus {
    border: 1px solid var(--accent-color);
}
.modal__textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
.modal__icon{
    fill: var(--title-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
}
.modal__checkbox:checked + .modal__check-icon {
    border-color: var(--accent-color);
    background: var(--accent-color);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.modal__form-rules{
    display: flex;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
.modal__policy{
    display: flex;
    align-items: center;
}
.modal__checkbox-link{
    text-decoration: underline;
    margin-left: 4px;
    color: var(--accent-color);
}

