.features {
    padding: 94px 0 94px 0;
    &__list{ 
        display: flex;
        gap: 30px;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        width: 270px;
    }
    &__icon-group{
        height: 120px;
        width: 270px;
        border-radius: 4px;
        background-color: var(--team-color-bg);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__description{
        margin-top: 0;
        color: var(--primaty-text-color);
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}