.filters {
    padding: 94px 0;
}
.filters__buttons {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
}
.filters__item + .filters__item{
    margin-left: 8px;
}