.page-header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-border-line);
}
.main-nav{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    padding: 0;
    margin: 0 0 0 93px;
    list-style: none;
    font-weight: 500;
    line-height: 1.19;
}
.nav__item + .nav__item {
    margin-left: 50px;
}
.nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}
.nav__link--current {
    color: var(--accent-color);
    position: relative;
}
.nav__link--current::after{
    content:" ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.auth-nav {
    display: flex;
    margin-left: auto;
    padding: 0;
    list-style: none;
    font-weight: 500;
    line-height: 1.19;
}
.auth-nav__item{
    display: flex;
    align-items: center;
}
.auth-nav__item + .auth-nav__item {
    margin-left: 50px;
}
.auth-nav__link {
    color: var(--primaty-text-color);
    display:flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}
.auth-nav__icon-mail{
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
}
.auth-nav__icon-tel{
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
}