.work {
    padding-bottom: 94px;
    &__list{
        display: flex;
        gap: 30px;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__group{
        position: relative;
    }
    &__image{
        display: block;
    }
    &__description{
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--text-white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    
}

@media screen and (max-width: 1200px) {
    .work {
        display: none;
    }
}