.logo{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.19;
	letter-spacing: 0.03em;   
	display: inline-block;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }

    &-accent{
        color: var(--accent-color);
    }

    &--header{
        padding: 24px 0 25px 0;
        color: var(--logo-black-color);
    }

    &--footer{
        margin-bottom: 20px;
        color: var(--text-white-color);

        @media screen and (max-width: 1199px) {
            display: block;
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            display: inline-block;
            
        }
    }
}