.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-backdrop.is-hidden .modal{
    scale: 0.5;
}
.modal-backdrop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}
.modal{
    width: 528px;
    height: 581px;
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    transition: scale 500ms;
    transform-origin: center;
}
.modal__form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__close-sign{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--logo-black-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color:var(--accent-color)
    }
}

.modal__item{
    width: 100%;
    margin-bottom: 10px;
    display: grid;
}
.modal__item--area{
    margin-bottom: 20px;
}
.modal__label{
    display: inline-block;
    color: var(--primaty-text-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.modal__input-group{
    position: relative;
}
.modal__input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover,
.modal__input:focus {
    border: 1px solid var(--accent-color);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon{
    fill: var(--accent-color);
}
.modal__textarea{
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        border: 1px solid var(--accent-color);
    }
}

.modal__textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
.modal__icon{
    fill: var(--title-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
}
.modal__checkbox:checked + .modal__check-icon {
    border-color: var(--accent-color);
    background: var(--accent-color);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.modal__form-rules{
    display: flex;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
.modal__policy{
    display: flex;
    align-items: center;
}
.modal__checkbox-link{
    text-decoration: underline;
    margin-left: 4px;
    color: var(--accent-color);
}