body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--text-white-color);
    color: var(--primaty-text-color);
}

a {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.icon{
    fill: currentColor;
}

