:root {
    --primaty-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-black-color:#000000;
    --text-white-color:#ffffff;
    --bg-color:#2F303A;
    --address-white-opacity-color:rgba(255, 255, 255, 0.6);
    --team-color-bg:#F5F4FA;
    --button-active-blue:#188CE8;
    --header-border-line:#ECECEC;
    --border-portfolio-color:#EEEEEE;
    --icon-color:#AFB1B8;
}